@use '../global/' as *;

.skills {
    --line-hor: 50px;
    margin-bottom: 100vh;
    &__ttl {
        font-size: $txt-fs-l-mq;
        margin-bottom: 3rem;
        border-bottom: 1px solid $color-main;
    }
    &__column {
        display: flex;
        gap: 5vw;
        align-items: flex-start;
        position: relative;
        flex-direction: column;
        &-1,
        &-2 {
        display: flex;
        gap: 3vw;
        @include mq(bp) {
        flex-direction: column;
        }
        }
        &-2 .skills__icatch {
            @include mq(bp) {
                padding-bottom: unset;
            }
        }
    }
    &__cnt {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        flex-direction: column;
    }
    &__cnt-area {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    &__label {
        font-weight: 800;
    }
    &__item {
        & p {
            font-size: $txt-fs-s;
            line-height: 1.8;
            color: #f57878;
        }
    }
    &__dscrptn {
        font-size: $txt-fs-s;
        line-height: 1.8;
    }
    &__category {
        line-height: 2.75;
        position: relative;
        font-size: $txt-fs-m;
        background-color: $color-main;
        color: $color-base;
        padding-left: 1em;
    }
    &__tree {
        /* tree 共通設定 */
        border: 2px solid #000;
        padding-bottom: 1.5rem;
        width: 340px;
        & ul {
            position: relative;
            margin-right: 2.7rem;
            &::before {
                position: absolute;
                top: -4px;
                left: 0;
                content: '';
                display: inline-block;
                width: 1px;
                background-color: $color-main;
            }
        }
        & span { /* ラベル と ラベル左に伸びる水平ラインの設定 */
            display: inline-block;
            line-height: 2.8;
            position: relative;
            min-width: 80px;
            text-align: center;
            margin-left: var(--line-hor);
            font-size: $txt-fs-s;
            &::before {
                position: absolute;
                top: 50%;
                left: calc(var(--line-hor) * -1);
                content: '';
                display: inline-block;
                width: var(--line-hor);
                height: 1px;
                background-color: $color-main;
            }
            &::after {
                position: absolute;
                top: 10%;
                left: 0;
                content: '';
                display: inline-block;
                width: 100%;
                height: 80%;
                border: .5px solid $color-main;
                border-radius: 20px;
            }
        }
        & li { /* ブランチ同士のスペース設定 */
            margin-bottom: 0.5rem;
            &:last-child {
                margin-bottom: unset;
            }
        }
    }
    /* 階層単位の設定。インデント、ラベルの垂直線など。 */
    @keyframes anim {
        0% { height: 0; }
        100% { height: 100%; }
    }
    &__layer1 { 
        position: relative;
        &.m-front::before {
            height: 76%;
        }
        &.m-back::before {
            height: 87%;
        }
        margin-left: 2.7rem;
        & > li {
            &:first-child {
                padding-top: 1.5rem;
            }
        }
    }
    &__layer2 {
        margin-left: calc((var(--line-hor) * 1.8));
        padding-top: .5rem;
        &::before {
            height: 72%;
        }
    }
    &__layer3 {
        margin-left: calc((var(--line-hor) * 0.5) * 2);
        &::before {
            height: 65%;
        }
    }
    /* ツリー終端 */
    &__endline {
        display: inline-block;
        border-top: 1px solid $color-main;
        border-bottom: 1px solid $color-main;
        width: 2rem;
        height: 1rem;
        width: 1rem;
        height: 0.5rem;
        margin-left: 1.8rem;
    }
}